.idea/*
/app/bootstrap.php.cache
/app/check.php
/app/SymfonyRequirements.php
web/bundles
/web/*.pdf
/web/*.png
/web/*.jpg
/web/*.ico
/web/*.gif
/web/*.js
/web/*.css
/web/assetic
/web/compiled
/web/css/*
/web/fonts/*
/web/images/*
/web/uploads/*
!/web/uploads/.gitkeep
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
vendor/*
app/config/parameters.yml
app/config/parameters_dev.yml
app/config/parameters_test.yml
app/Resources/public/bower/*
app/phpunit.xml
report
.htaccess
*.orig
node_modules/
bin/*
!bin/initBDD.sh
!bin/init.sh
!bin/clear-db.sh
!bin/update-code.sh
!bin/phantomjs-start.sh
!bin/phantomjs-stop.sh
behat.yml
robots.txt
composer.phar
web/scss/.sass-cache
